
<h3>List of User Groups</h3>
<div class="btn btn-primary" routerLink="/settings/usergroups/new">Add User Group</div>
<br>
<br>
<ul class="list-group" *ngIf="groups">
	<li *ngFor="let userGroup of groups" class="list-group-item pointer" 
		[ngStyle]="{'color': userGroup.txtColor}" [style.background-color]="userGroup.bcColor">
		{{userGroup.name}}
		<div routerLink="/settings/usergroups/{{userGroup._id}}" class="badge label label-primary">Edit</div>
	</li>
</ul>