<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Contact List
			<div class="pull-right pointer" (click)="addContact()">Add</div>
		</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<tr>
				<th>Name</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Action</th>
			</tr>
			<tr *ngFor="let contact of contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.lastname}}</td>
				<td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
				<td>{{contact.created_at | date: 'd/MM/y HH:mm:ss'}}</td>
				<td>{{contact.updated_at | date: 'd/MM/y HH:mm:ss'}}</td>
				<td>
					<div class="label label-primary pointer" (click)="goToDetails(contact._id)">Details</div>
				</td>
			</tr>
		</table>
	</div>
</div>