<ul class="list-group" *ngIf="issues">
    <li class="list-group-item" *ngFor="let issue of issues">
        <strong>
            {{issue.name}}:
        </strong> 
        <span class="text-muted">{{issue.description}}</span>
    </li>
</ul>