<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Contact details
			<div *ngIf="!edit || !contact._id" class="pull-right pointer" (click)="goBack()">Back</div>
			<div *ngIf="edit && contact._id" class="pull-right pointer" (click)="toggleEditContact()">Back</div>
		</h3>
	</div>
	<div class="panel-body">
		<div *ngIf="contact && !edit">
			<h3>{{contact.name}} {{contact.lastname}} </h3><br>
			<a href="mailto:{{contact.email}}">{{contact.email}}</a> <br>
			<span *ngIf="contact.phone">Phone: {{contact.phone}}</span>
		</div>
		<div *ngIf="contact && edit">
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="contact.name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputLastname" class="col-lg-2 control-label">Lastname</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputLastname" placeholder="Lastname" [(ngModel)]="contact.lastname">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="contact.email">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPhone" class="col-lg-2 control-label">Phone</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputPhone" placeholder="Phone" [(ngModel)]="contact.phone">
				</div>
			</div>
			

		</div>
	</div>
	<div class="panel-footer">
		<div *ngIf="!edit || (contact && contact._id)" class="btn btn-primary" (click)="toggleEditContact()">Edit</div>
		<div *ngIf="contact && !contact._id" class="btn btn-primary" (click)="goBack()">Back</div>
		<div *ngIf="!edit && contact" class="btn btn-danger pull-right" (click)="deleteContact(contact._id)">Delete</div>
		<div *ngIf="edit" class="btn btn-info pull-right" (click)="saveContact()">Save</div>
	</div>
</div>