<!--<div class="btn btn-primary" (click)="toggleAddRoute()">Add Route</div>
<br>
<br>-->
<!--
<div id="routingAdd" *ngIf="addRoute">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputRouteName" placeholder="Url of the route" [(ngModel)]="newRoute.route">
				</div>
			</div>
		</div>
		<div class="col-md-6" *ngIf="newRoute && newRoute.route && newRoute._id">
			<label >
				<input type="checkbox" class="pointer" [checked]="doesRouteHasMethod(newRoute._id, 'GET')" (change)="logNewRouteCheckbox('GET', $event.target.checked)">
				<span class="text-muted">GET</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" [checked]="doesRouteHasMethod(newRoute._id, 'POST')" (change)="logNewRouteCheckbox('POST', $event.target.checked)">
				<span class="text-muted">POST</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" [checked]="doesRouteHasMethod(newRoute._id, 'PUT')" (change)="logNewRouteCheckbox('PUT', $event.target.checked)">
				<span class="text-muted">PUT</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" [checked]="doesRouteHasMethod(newRoute._id, 'DELETE')" (change)="logNewRouteCheckbox('DELETE', $event.target.checked)">
				<span class="text-muted">DELETE</span>
			</label>
			<div class="btn btn-primary pull-right" (click)="addNewRoute()">Add</div>
		</div>

		<div class="col-md-6" *ngIf="newRoute && newRoute.route && !newRoute._id">
			<label >
				<input type="checkbox" class="pointer" (change)="logNewRouteCheckbox('GET', $event.target.checked)">
				<span class="text-muted">GET</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" (change)="logNewRouteCheckbox('POST', $event.target.checked)">
				<span class="text-muted">POST</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" (change)="logNewRouteCheckbox('PUT', $event.target.checked)">
				<span class="text-muted">PUT</span>
			</label>
			<label >
				<input type="checkbox" class="pointer" (change)="logNewRouteCheckbox('DELETE', $event.target.checked)">
				<span class="text-muted">DELETE</span>
			</label>
			<div class="btn btn-primary pull-right" (click)="addNewRoute()">Add</div>
		</div>
	</div>
	<br>
</div>-->
<span class="text-muted">Check the methods that the user group can access in general condition. for more control on who can do what, the front end and back end developers have to agree on further condition</span>
<table class="table table-striped table-bordered" *ngIf="userGroups && routes">
	<tr>
		<th>Route</th>
		<th *ngFor="let userGroup of userGroups" style="text-align: center;">
			<div class="label label-primary" [ngStyle]="{'color': userGroup.txtColor}" [style.background-color]="userGroup.bcColor">{{userGroup.name}}</div>
		</th>
		<!--<th>
			Action
		</th>-->
	</tr>

	<tr *ngFor="let route of routes">
		<td>{{route.route}}</td>
		<td *ngFor="let userGroup of userGroups" style="text-align: left;">
			<label *ngIf="doesRouteHasMethod(route._id, 'GET')">
				<input type="checkbox" class="pointer" [checked]="doesRouteHasGroupMethod(route._id, userGroup._id, 'GET')" (change)="logCheckbox(userGroup._id, route._id, 'GET', $event.target.checked)">
				<span class="text-muted">GET</span>
			</label>
			<label *ngIf="doesRouteHasMethod(route._id, 'POST')">
				<input type="checkbox" class="pointer" [checked]="doesRouteHasGroupMethod(route._id, userGroup._id, 'POST')" (change)="logCheckbox(userGroup._id, route._id, 'POST', $event.target.checked)">
				<span class="text-muted">POST</span>
			</label>
			<label *ngIf="doesRouteHasMethod(route._id, 'PUT')">
				<input type="checkbox" class="pointer" [checked]="doesRouteHasGroupMethod(route._id, userGroup._id, 'PUT')" (change)="logCheckbox(userGroup._id, route._id, 'PUT', $event.target.checked)">
				<span class="text-muted">PUT</span>
			</label>
			<label *ngIf="doesRouteHasMethod(route._id, 'DELETE')">
				<input type="checkbox" class="pointer" [checked]="doesRouteHasGroupMethod(route._id, userGroup._id, 'DELETE')" (change)="logCheckbox(userGroup._id, route._id, 'DELETE', $event.target.checked)">
				<span class="text-muted">DELETE</span>
			</label>
		</td>
		<!--<td>
			<div class="label label-info pointer" (click)="editRoute(route._id)">Edit</div>
			<div class="label label-danger pointer" (click)="deleteRoute(route._id)">Delete</div>
		</td>-->
	</tr>
</table>
