<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" routerLink="/home">Liruta System</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a class="pointer" routerLinkActive="active" routerLink="/home">Home</a></li>
				<li *ngIf="tokenDecoded && tokenDecoded.isAdmin"><a class="pointer" routerLinkActive="active" routerLink="/contacts">Contacts</a></li>
				<li *ngIf="tokenDecoded && tokenDecoded.isAdmin"><a class="pointer" routerLinkActive="active" routerLink="/issues">Issues</a></li>
				<li *ngIf="tokenDecoded && tokenDecoded.isAdmin"><a class="pointer" routerLinkActive="active" routerLink="/users">Users</a></li>
				<li *ngIf="tokenDecoded && tokenDecoded.isAdmin">
					<a dropdown class="dropdown pointer">
						<div dropdownToggle class="dropdown-toggle">
							App Setting
							<span class="caret"></span>
						</div>
						<div dropdownMenu class="dropdown-menu">
							<li class="pointer"><a routerLinkActive="active" routerLink="/projects">Projects</a></li>
						</div>
					</a>
				</li>
				<li *ngIf="tokenDecoded && tokenDecoded.isAdmin"><a class="pointer" routerLinkActive="active" routerLink="/settings">System Settings</a></li>


			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a *ngIf="!token" class="pointer" routerLinkActive="active" routerLink="/login">Login</a></li>
				<li><a *ngIf="token" class="pointer" (click)="logout()">logout</a></li>
			</ul>
		</div>
	</div>
</nav>