<div class="row">
	<div class="col-md-1 col-xs-12">&nbsp;</div>
	<!--To copy for another setting-->
	<div class="col-md-2 col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">User Groups</h3>
			</div>
			<div class="panel-body">
				Add / Edit / Delete a user groups
			</div>
			<div class="panel-footer">
				<div class="btn btn-primary pointer" routerLink="/settings/usergroups">
					Go
				</div>
			</div>
		</div>
	</div>
	<!-- END To copy for another setting-->
	<div class="col-md-2 col-xs-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Groups Rights</h3>
			</div>
			<div class="panel-body">
				 Edit the groups rights
			</div>
			<div class="panel-footer">
				<div class="btn btn-primary pointer" routerLink="/settings/usergroupsrights">
					Go
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1 col-xs-12">&nbsp;</div>
</div>