<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			User Group details
			<div class="pull-right pointer" (click)="goBack()">Back</div>
		</h3>
	</div>
	<div class="panel-body">
		<div *ngIf="userGroup">

			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="userGroup.name">
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Background Color</label>
				<div class="col-lg-10">
					<input [(colorPicker)]="userGroup.bcColor" [style.background]="userGroup.bcColor" [value]="userGroup.bcColor" />
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-lg-2 control-label">Text Color</label>
				<div class="col-lg-10">
					<input [(colorPicker)]="userGroup.txtColor" [style.background]="userGroup.txtColor" [value]="userGroup.txtColor" />
				</div>
			</div>
			<div class="label label-primary" [ngStyle]="{'color': userGroup.txtColor}" [style.background-color]="userGroup.bcColor">{{userGroup.name}}</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn btn-info" (click)="saveUserGroup()">Save</div>
		<div *ngIf="userGroup && userGroup._id" class="btn btn-danger pull-right" (click)="deleteUserGroup()">Delete</div>
	</div>
</div>