<div class="btn btn-primary" (click)="addProject()">Add Project</div>
<br><br>
<ul class="list-group" *ngIf="projects">
    <li class="list-group-item pointer" *ngFor="let project of projects" routerLink="/project/{{project._id}}">
        <div class="media">
            <div class="media-left" *ngIf="project.picture != 'none'">
                <a>
                    <img class="media-object" *ngIf="project.picture" src="{{project.picture}}" width="128">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{project.name}}</h4>
                <span class="text-muted">{{project.description}}</span>
                <span *ngIf="project.userInvolved.length > 0" class="badge pull-right">{{project.userInvolved.length}}</span>
            </div>
        </div>

    </li>
</ul>