<div class="btn btn-primary" *ngIf="id != 'new'" (click)="toggleEdit()">Toggle Edit</div>

<div class="media" *ngIf="project && !edit">
	<div class="media-left" *ngIf="project.picture != 'none'">
		<a>
			<img class="media-object" *ngIf="project.picture" src="{{project.picture}}" width="256">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{project.name}}</h4>
		<span class="text-muted">{{project.description}}</span>
		<br>
		<br>
		<div *ngIf="project.userInvolved.length > 0">
			<strong>User involved:</strong>
			<table class="table stripped">
				<tr *ngFor="let user of project.userInvolved">
					<th>{{user.username || 'Username'}}</th>
					<td>
						<a href="mailto:{{user.email}}"></a>{{user.email}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div *ngIf="edit">
	<div class="form-group">
		<label for="inputName" class="col-lg-2 control-label">Name</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="project.name">
		</div>
	</div>

	<div class="form-group">
		<label for="inputDescription" class="col-lg-2 control-label">Description</label>
		<div class="col-lg-10">
			<textarea id="inputDescription" class="form-control" rows="3" [(ngModel)]="project.description"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="inputPicture" class="col-lg-2 control-label">Picture</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="inputPicture" placeholder="Picture URL" [(ngModel)]="project.picture">
		</div>
	</div>

	<div class="btn btn-primary" (click)="saveProject()">Save</div>
	<div class="btn btn-danger pull-right" (click)="deleteProject()">delete</div>

</div>