<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			User details
			<div class="pull-right pointer" (click)="goBack()">Back</div>
		</h3>
	</div>
	<div class="panel-body">
		<div *ngIf="!edit && user">
			<h3>{{user.email}}</h3><br>

			<table class="table">
				<tr>
					<td colspan="3">
						Groups:
						<span *ngFor="let group of user.groups">
						<span *ngIf="group != '' && userGroups && getUserGroup(group)" class="label" [style.color]="getUserGroup(group).txtColor" [style.background-color]="getUserGroup(group).bcColor">{{getUserGroup(group).name}}</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						Can log in:
						<span *ngIf="user.canLogIn" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
						<span *ngIf="!user.canLogIn" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					</td>
					<td>
						Is Admin:
						<span *ngIf="user.isAdmin" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
						<span *ngIf="!user.isAdmin" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					</td>
				</tr>
			</table>
		</div>

		<div *ngIf="edit && user">
			<h3>{{user.email}}</h3>
			<br>
			<div class="form-group">
				Groups
				<div class="checkbox" *ngFor="let group of userGroups">
					<label>
						<input type="checkbox" value="{{group._id}}" #cb{{group._id}} [checked]="doesUserHaveGroup(group._id)" (change)="logCheckbox(group._id, $event.target.checked)"> 
						<span class="label" [style.color]="group.txtColor" [style.background-color]="group.bcColor">{{group.name}}</span>
          			</label>
				</div>
			</div>

			<div class="form-group">
				<label for="select" class="col-lg-2 control-label">Can Log in</label>
				<div class="col-lg-10">
					<select class="form-control" id="select" [(ngModel)]="user.canLogIn">
						<option [ngValue]="true" [selected]="user.canLogIn">Yes</option>
						<option [ngValue]="false" [selected]="!user.canLogIn">No</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="select" class="col-lg-2 control-label">Is Admin</label>
				<div class="col-lg-10">
					<select class="form-control" id="select" [(ngModel)]="user.isAdmin">
						<option [ngValue]="true" [selected]="user.isAdmin">Yes</option>
						<option [ngValue]="false" [selected]="!user.isAdmin">No</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div *ngIf="!edit" class="btn btn-primary" (click)="toggleEditUser()">Edit</div>
		<div *ngIf="edit" class="btn btn-primary" (click)="saveUser()">Save</div>
	</div>
</div>