<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Signup
        </h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="newUser.email">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="newUser.password">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm your Password" [(ngModel)]="newUser.cpassword">
            </div>
        </div>


    </div>

    <div class="panel-footer">
        <div class="btn btn-primary" (click)="signup()">Signup</div>
    </div>
</div>

<div *ngIf="alert" class="alert alert-{{alert.type}}">
    {{alert.message}}
</div>
