<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Users List
		</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-bordered" *ngIf="users">
			<tr>
				<th>Email</th>
				<th>Groups</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Can Log In</th>
				<th>Admin</th>
				<th>Action</th>
			</tr>
			<tr *ngFor="let user of users">
				<td>{{user.email}}</td>
				<td>
					<span *ngFor="let group of user.groups">
						<span *ngIf="group != '' && userGroups && getUserGroup(group)" class="label" [style.color]="getUserGroup(group).txtColor" [style.background-color]="getUserGroup(group).bcColor">{{getUserGroup(group).name}}</span>
					</span>
				</td>
				<td>{{user.created_at | date: 'd/MM/y HH:mm:ss'}}</td>
				<td>{{user.updated_at | date: 'd/MM/y HH:mm:ss'}}</td>
				<td>
					<span *ngIf="user.canLogIn" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
					<span *ngIf="!user.canLogIn" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
				</td>
				<td>
					<span *ngIf="user.isAdmin" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
					<span *ngIf="!user.isAdmin" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
				</td>
				<td>
					<div class="label label-primary pointer" (click)="goToDetails(user._id)">Details</div>
				</td>
			</tr>
		</table>
	</div>
</div>